body{
    background-image: url(./images/nice.avif);
    background-size: cover; 
}

main{
    width: 100%;
}



.main{
    height: 70vh;
    width: 50%;
    margin-top: 170px;
    border-radius: 9px;
    margin-left: 300px;
    margin-right: 250px;
    padding-right: 50px;
    padding-left: 100px;
    background-image: linear-gradient(to top left, rgba(217, 159, 159, 0.6) 0%, rgba(81, 88, 133, 0.9) 100%);
}
.main h1{
    padding-top: 22px;
}

.main img{
    margin-top: 38px;
    width: 80%;
    height: 44vh;
    margin-left: 50px;
}

button{
    height: 9vh;
    width:20% ;
    color: black;
    font-size: large;
    font-weight: bold;
    border-radius: 9px;
    margin-top: 20px;
    margin-left: 600px;
    background-image: linear-gradient(to top left, rgba(217, 159, 159, 0.6) 0%, rgba(81, 88, 133, 0.9) 100%);;
}

/*adding media queries*/
@media only screen  and ( max-width:1272px){
    .main
    {margin-left: 242px;

    }

    button{
        margin-left: 533px;
    }
}

@media only screen  and ( max-width:1160px){
    .main {
        height: 65vh;}

    .main img {
        height: 41vh;
        margin-left: 28px;
    }

    button{
        margin-left: 505px;
    }
}

@media only screen  and ( max-width:1080px){
    button {
        margin-left: 441px;
    }

    .main {
        margin-left: 200px;
    }
}

@media only screen  and ( max-width:1018px){
    button {
        margin-left: 420px;
    }

    .main {
        margin-left: 182px;
    }
}

@media only screen  and ( max-width:914px){
    button {
        margin-left: 386px;
    }

    .main {
        
        margin-left: 160px;
        height: 71vh;

    }
}


@media only screen  and ( max-width:826px){
    button {
        margin-left: 334px;
    }

    .main {
        
        margin-left: 130px;
        height: 71vh;

    }
    .main img {
        height: 41vh;
        margin-left: 14px;
    }
}

@media only screen  and ( max-width:760px){
    button {
        margin-left: 311px;
    }

    .main {
        
        margin-left: 116px;
        margin-top: 76px;
    

    }
}

@media only screen  and ( max-width:730px){
    button {
        margin-left: 295px;
    }

    .main {
        
        margin-left: 108px;
    

    }
}

@media only screen  and ( max-width:700px){
    button {
        margin-left: 287px;
    }

    .main {
        
        margin-left: 93px;
    

    }
}

@media only screen  and ( max-width:657px){
    button {
        margin-left: 261px;
    }

    .main {
        
        margin-left:84px;
     
    }
}

@media only screen  and ( max-width:620px){
    button {
        margin-left: 240px;
    }

    .main {
        width: 58%;
        margin-left:51px;
        margin-top: 55px;
    }
    .main h1{
        padding-inline-end: 23px;
    }
}


@media only screen  and ( max-width:590px){
    button {
        margin-left: 230px;
    }

    .main {
        margin-left:40px;
     
    }
}

@media only screen  and ( max-width:547px){
    button {
        margin-left: 223px;
    }

    .main {
        margin-left:37px;
     
    }
}


@media only screen  and ( max-width:520px){
    button {
        margin-left:185px;
        width: 28%;
    }

    .main {
        margin-left:31px;
        height: 78vh;
     
    }


    .main{
        
        margin-left: 32px;
    }
}

@media only screen  and ( max-width:490px){
    button {
        margin-left: 173px;
    }

    .main {
        margin-left:26px;
     
    }

    .main img {
        margin-top: 15px;
        margin-left: 8px;
    }
}


@media only screen  and (max-width:487px){
    button {
        margin-left: 177px;
    }

    .main {
        width: 50%;
        margin-left:42px;
        margin-top: 35px;
     
    }

    .main img {
        width:80%;
        margin-left: 2px;
      
    }
}
 
@media only screen  and ( max-width:450px){
    button {
        margin-left: 171px;
        width: 31%;
    }

   
    .main img {
        width: 90%;
        margin-left: 0px;
        }
}

@media only screen  and ( max-width:428px){
    button {
        margin-left: 145px;
        width: 36%;
    }

   
    .main img {
        width: 91%;
        height: 34vh;

        }
      
        .main {

            margin-left:32px;
        }
       
}

@media only screen  and ( max-width:407px){
    button {
        margin-left: 134px;

    }
      
     .main {
            width:50%;
            margin-left:25px;
        }
       
}


@media only screen  and ( max-width:372px){
    button {
        margin-left: 114px;

    }
      
     .main {
        height: 71vh;
        margin-left:15px;
       margin-top: 2px;
        }

        .main img {
            width: 78%;
            height: 27vh;
        }     
}



@media only screen  and ( max-width:348px){
    
     .main {
        margin-left: 9px;
        margin-top: 69px;
        }

    
}


@media only screen  and ( max-width:335px){
    
    .main {
        margin-left: 4px;
       }

       button {
        margin-left: 105px;
    }

   
}








